/* Global */
*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Satoshi-Regular';
    box-sizing: border-box;
}
body{
    background-color: rgb(249,249,249);
    font-family: 'Satoshi-Regular';
}

/* Header */
header{
    background-color: #E67E22;
    color: white;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}
header img{
    width: 200px;
    height: 200px;
    padding: 25px;
}

/* Hero */
.hero_img{
    background-image: url(/assets/img/food_img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    filter: blur(3px);
    position: relative;
}
.restaurant_logo{
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
}
.restaurant_logo img{
    width: 150px;
    border-radius: 20%;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Restaurant Info */
.restaurant_info{
    position: absolute;
    top: 300px;
    left: 25px;
    color: white;
    max-width: 650px;
    max-height: 130px;
}
.rating{
    font-size: 18px;
    color: gold;
    display: flex;
}
.rating p{
    color: white;
}
.deliverCost{
    display: flex;
    gap: 5px;
}
.deliverCost img{
    height: 20px;
    filter: invert(1);
}

/* Categories Nav */
.categories_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
    gap: 300px;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.categories_nav a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    transition: color 0.3s ease-in-out;
}
.categories_nav a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: #E67E22;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}
.categories_nav a:hover{
    color: #E67E22;
}
.categories_nav a:hover::after{
    width: 100%;
}

/* Content Cover & Content */
.content {
    padding-bottom: 25px;

}
.content_cover{
    display: flex;
    justify-content: center;
    padding: 0 2vh;
}
.img_test{
    background-image: url(/assets/img/food_img/Nudelgerichte/nudelgerichte.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.content_cover img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: 32px;
}

.content span{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.seperator{
    background-color: rgba(0, 0, 0, 0.106);
    height: 2px;
    width: 600px;
    margin: 0 auto;
}
/* Nudelgerichte */
.nudelgerichte_header{
    background-image: url(/assets/img/food_img/Nudelgerichte/nudelgerichte.jpg);
    height: 250px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
/* Currygerichte */
.currygerichte_header{
    background-image: url(/assets/img/food_img/Curry/curry.jpg);
    height: 250px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
/* Spzeialitäten */
.spezialgerichte_header{
    background-image: url(/assets/img/food_img/Spezialitäten/spezial.jpg);
    height: 250px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
/* Getränke */
.getraenke_header{
    background-image: url(/assets/img/food_img/Getränke/getränke.jpg);
    height: 250px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
/* Cards */
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}
.price{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #E67E22;
}
.price button{
    background-color: #E67E22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Food card 1 */
.food_card1 img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.food_info1{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
}
.food_card1{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.food_card1:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Food card 2 */
.food_card2 img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.food_info2{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
}
.food_card2{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.food_card2:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Food card 3 */
.food_card3 img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.food_info3{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
}
.food_card3{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.food_card3:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer_logo img{
    width: 150px;
}
.footer_info{
    display: flex;
    gap: 20px;
}
.footer_info p{
    cursor: pointer;
}
.footer_info p:hover{
    text-decoration: underline;
}

/* Media Querrys */
/* 1490px */
@media (max-width: 1490px){
    .categories_nav{
        gap: 200px;
    }
}
@media (max-width: 1430px){
    .restaurant_logo{
        top: 134px;
        left: 10%;
        transform: translate(0);

    }
}
@media (max-width: 1150px){
    .categories_nav{
        gap: 100px;
    }
}
@media (max-width: 840px){
    .categories_nav{
        gap: 10px;
    }
}
@media (max-width: 570px){
    .categories_nav{
        gap: 0;
    }
    .categories_nav a{
        font-size: 16px;
        padding: 20px 6px;
    }
}

@media (max-width: 470px){
    .restaurant_info h1{
        font-size: 26px;
    }
    .restaurant_info p{
        font-size: 14px;
    }
    .deliverCost{
        font-size: 14px;
    }
    .rating{
        font-size: 16px;
    }
    .footer_content{
        flex-direction: column;
    }
}

@media (max-width: 360px){
    .categories_nav a{
        font-size: 14px;
        padding: 20px 3px;
    }
    .seperator{
        width: 290px !important; 
    }
}